<?xml version="1.0"?>

<model>
  <name>Apriltag Tank</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Tim Hansen</name>
    <email>dennis.mannhart@gmail.com</email>
  </author>

  <description>
    A tank with apriltags on the ground.
  </description>

</model>
